# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDE settings
.vscode/
.idea/

# Jupyter notebooks
.ipynb_checkpoints

# macOS files
.DS_Store

# Data directories
data/raw/*
data/processed/*
